
* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}

html{
    font-size: 90%;
}

body {
    font-family: Helvetica, Arial, sans-serif;  

    max-width: 850px;
    margin: auto;

    // Ojo, quitar esto 
    margin-bottom: 4em;
}

a { // quita la linea de vinculo de abajo
    text-decoration: none;
    color: $oscuro-fuerte;
}


button {
    cursor: pointer;
}

button:disabled {
    cursor:default;
}



.btn {
    display: inline-block;
    padding: 10px 30px; // 10px top/botton 30px left/right
    cursor: pointer;
    background: $azul-brillante;
    color:white;
    border: none;
    border-radius:  5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px white solid;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-primary {
    background: $azul-brillante;
    color:white;
    
}

/* temporary CSS for demo*/

.filtrosection {
    border: 4px lightblue solid;
    padding: 0 1em 0em 1em;

}

.ordentable {
   
    border: 4px lightblue solid;
    padding: 0 1em 0em 1em;
    
}
.ordenitem {
    display: flex;
    justify-content: space-between;
    // grid-template-columns: 80px 80px 80px 200px 300px 80px auto;
    border-bottom:  1px solid gray;
}

.ordenitem:hover{
    background-color: lightblue;
    cursor: pointer;
}

.tableheader {
    font-weight: 600;
}

.tablerow,.tableheader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(230, 224, 224, 0.774);
    align-items: center;
}
.tablerow:hover {
    background-color: lightblue;
    cursor: pointer;
}

.gridflex {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid graY;
}
.headerlabel {
    font-weight: 900;
}

.gridflex p {
    padding-right: 10px;
}

.field {
    border: 1px solid black;
}
/*END temporary CSS*/